/*

Name: Base16 Turkish Coffee
Author: Serkan Hosca

Less-variables template by Bram de Haan (https://github.com/atelierbram/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00 = #0a0102;
$base01 = #140200;
$base02 = #4a2a15;
$base03 = #6f3712;
$base04 = #915025;
$base05 = #c17038;
$base06 = #ecd1be;
$base07 = #fdfbfa;
$base08 = #9a2c38;
$base09 = #2c6f9a;
$base0a = #9a8e2c;
$base0b = #389a2c;
$base0c = #26867c;
$base0d = #2c9a8e;
$base0e = #8e2c9a;
$base0f = #572c9a;
