[global_config]
  title_transmit_bg_color = "#9a2c38"
  title_inactive_bg_color = "#6f3712"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0a0102:#9a2c38:#389a2c:#9a8e2c:#2c9a8e:#8e2c9a:#26867c:#c17038:#6f3712:#9a2c38:#389a2c:#9a8e2c:#2c9a8e:#8e2c9a:#26867c:#fdfbfa"
    foreground_color = "#4a2a15"
    background_color = "#fdfbfa"
    cursor_color = "#4a2a15"

  [[Base16 Turkish Coffee Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#fdfbfa:#9a2c38:#389a2c:#9a8e2c:#2c9a8e:#8e2c9a:#26867c:#c17038:#6f3712:#9a2c38:#389a2c:#9a8e2c:#2c9a8e:#8e2c9a:#26867c:#0a0102"
    foreground_color = "#4a2a15"
    background_color = "#fdfbfa"
    cursor_color = "#4a2a15"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Turkish Coffee Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
