/*

    Name:       Base16 Turkish Coffee Light
    Author:     Serkan Hosca

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #fdfbfa;}
a {color: #2c9a8e;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #140200;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #8e2c9a;}
div.output_prompt {color: #572c9a;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #c17038;
}
div.output_area pre {font-weight: normal; color: #4a2a15;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #6f3712 solid;
  color: #6f3712;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #4a2a15;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #572c9a;}
div.text_cell_render, div.output_html {color: #4a2a15;}

span.ansiblack {color: #140200;}
span.ansiblue {color: #26867c;}
span.ansigray {color: #915025;}
span.ansigreen {color: #389a2c;}
span.ansipurple {color: #8e2c9a;}
span.ansired {color: #9a2c38;}
span.ansiyellow {color: #9a8e2c;}

div.output_stderr {background-color: #9a2c38;}
div.output_stderr pre {color: #ecd1be;}

.cm-s-ipython.CodeMirror {background: #fdfbfa; color: #140200;}
.cm-s-ipython div.CodeMirror-selected {background: #ecd1be !important;}
.cm-s-ipython .CodeMirror-gutters {background: #fdfbfa; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #915025;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #6f3712 !important;}

.cm-s-ipython span.cm-comment {color: #572c9a;}
.cm-s-ipython span.cm-atom {color: #8e2c9a;}
.cm-s-ipython span.cm-number {color: #8e2c9a;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #389a2c;}
.cm-s-ipython span.cm-keyword {color: #9a2c38;}
.cm-s-ipython span.cm-string {color: #9a8e2c;}
.cm-s-ipython span.cm-operator {color: #572c9a;}
.cm-s-ipython span.cm-builtin {color: #8e2c9a;}

.cm-s-ipython span.cm-variable {color: #389a2c;}
.cm-s-ipython span.cm-variable-2 {color: #2c9a8e;}
.cm-s-ipython span.cm-def {color: #2c6f9a;}
.cm-s-ipython span.cm-error {background: #9a2c38; color: #6f3712;}
.cm-s-ipython span.cm-bracket {color: #4a2a15;}
.cm-s-ipython span.cm-tag {color: #9a2c38;}
.cm-s-ipython span.cm-link {color: #8e2c9a;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #140200 !important;}
